// overwrite theme variables


//quick test
$primary: #783370;
$secondary: #c4274f;
$info: #4c75ee;
$warning: #d7cc1d;
$success: #1c9d68;



// import bootstrap style at the bottom!
@import 'bootstrap/scss/bootstrap.scss'
