.delete {
  font-size: 0.4rem;
  width: 1.3rem;
  height: 1.3rem;
}

.no-lists {
  width: 200px;
  margin-left: 25%;
}

button .delete {
  margin-bottom: 3px;
  width: 1rem;
  transform: translate(-6.5px, -5px);
}

.task {
  transition: 0.1s;
}
.task:hover {
  background: rgb(249, 249, 294, 0.1);
  border-radius: 10px !important;
}

#root {
  background-color: rgb(120, 51, 112);
  min-height: 100vh;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-new {
  width: clamp(50%, 700px, 90%);
  height: min(50%, 300px);

  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.note {
  background-color: #b24570;
  border-radius: 10px;
  padding: 1rem 1rem 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  overflow: hidden;
}

.note-footer {
  display: flex;
  align-items: center;
  background: linear-gradient(0deg, #b24570 0%, #b24570 70%, #b2457000 100%);
  justify-content: space-between;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  z-index: 50;
}

.delete-note {
  background-color: rgba(255, 153, 146, 0);
  border-color: rgba(255, 153, 146, 0);
}
